#root {
min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
 
}

body {
  font-family: 'Lato', sans-serif;
   background-color: burlywood ;
}

#quote-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    color: burlywood;
    height: 300px;
}

#text {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.4;
  color: burlywood ;
  margin-top: 3rem;
  padding: 0 2rem;
}


.actions-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.social-links{
    display: flex;
  gap: 0.5rem;
  align-items: center;
}

#tweet-quote, .social-icon {
    background-color: burlywood;
    color: #fff;
    padding: 0.5rem 0.7rem;
}

#tweet-quote:hover,
.social-icon:hover {
   background-color: #d2a46f; 
}

#new-quote{
    background-color: burlywood;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 0.7rem;
    border-radius: 5%;
}

#new-quote:hover {
  background-color: #d2a46f; 
}
